*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 300ms;
}

.navbar{
    width: 100%;
    height: 100px;
    background-color: #495057;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between ;
    position: fixed;
    top: 0;
    z-index: 2;
}

.navbar a:hover{
    color: #1abc9c;
}
.first{
    width: 50%;
    height: 100px;
    text-align: center;
}

.first a{
    text-decoration: none;
    font-family: 'Orelega One', cursive;
    font-size: 30px;
    color: azure;
    line-height: 100px;
}
.end{
    width: 50%;
    height: 100px;
    text-align: center;
}
.end ul{
    list-style: none;
}
.end ul li{
    display: inline;
    line-height: 100px;
}
.end ul li:not(:last-child){
    margin-right: 40px;
}

.end ul li a{
    text-decoration: none;
    font-family: 'Orelega One', cursive;
    font-size: 20px;
    color: azure;
    
}

.start{
    width: 100%;
    height: 700px;
    background-color:darkcyan;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;

}

.start img{
    width: 16em;
    margin-top: 150px;
}


.start h1{
    font-size: 4em;
    margin-top: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;

}
.start i{
    font-size: 2em;
    color: aliceblue;
    margin: 25px 0;
}
.start h3{
    font-size: 1.5em;
    margin: 30px 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
}

.portfolio{
    margin: 30px auto;
    width: 95%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.head h1{
    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #495057;

}
.head i{
    font-size: 2em;
    color:#495057;
    margin: 25px 0;
}

.portfolio .porfolio-content{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.porfolio-content img{
    width: 22em;
    border-radius: 10px;
}

.porfolio-content img:hover{
    cursor: pointer;
    opacity: 0.8;
    transform: scale(1.1);
}

.about{
    margin: 30px auto;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color:rgb(24, 161, 173);
    margin-bottom: 30px;
}

.about .a-head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.about .a-head h1{
    font-size: 4em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:aliceblue;
}
.about .a-head i{
    font-size: 2.5em;
    color:aliceblue;
    margin: 25px 0;
}

.about .about-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about .about-content span{
    display: block;
    width: 30%;
    height: auto;
    font-size: 1.4em;
    text-align: justify;
    margin-top: 30px;
    color: aliceblue;
}
.about .about-content span:not(:last-child){
    margin-right: 30px;
}
.contact{
    margin: 60px auto;
    width: 95%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.contact form{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;  
    align-items: center;
}
.contact form .label-box{
    width: 70%;
    height: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 20px;
}

.label{
    font-family:sans-serif;
    font-size: 1.5em;
    opacity: 0.7;
    position: absolute;
    bottom: 20px;
    left: 10px;

}
.label-box .form-text{
    width: 600px;
    border: none;
    border-bottom: 1px solid #495057;
    padding: .5em 0.3em;
    margin-top: 50px;
    font-size: 1.5em;
    opacity: 0.7;
    line-height: 1.5em;
}

.m-label{
    font-family:sans-serif;
    font-size: 1.5em;
    opacity: 0.7;
    position: absolute;
    top: 50px;
    left: 10px;
}
.f-message{
    width: 600px;
    border: none;
    border-bottom: 1px solid #495057;
    padding: 2.5em 0;
    font-size: 1.5em;
    opacity: 0.7;
    margin-top: 50px;
    
}
.send-box{
    width: 70%;
    height: auto;
}
 .button{
    width: 110px;
    height: 70px;
    margin-top: 50px;
    border: none;
    border-radius: 10px;
    background-color: #1abc9c;
    opacity: 0.8;
    color: aliceblue;
    font-size: 1.3em;
    transition: 300ms;
} 

.button:hover{
    opacity: 1;
}